.input-wrapper {
  display: inline-flex;
  align-items: center;
  align-self: center;
  box-shadow: 0 0 0 1px inset var(--mono-500);
  transition: box-shadow 0.2s;

  min-height: var(--height, var(--size-xl));
  border-radius: var(--radius, var(--xs));
  filter: grayscale(1);
  width: max-content;

  &.span-input {
    width: 100%;
  }

  .input-icon {
    display: inherit;
    align-items: center;
    padding-inline: var(--md);
  }

  .input {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    min-height: inherit;
  }

  &:has(input:focus) {
    box-shadow: 0 0 0 2px inset var(--color-500);
  }

  &:not(:has(.left-icon)) {
    .input {
      padding-left: var(--lg);
    }
  }
  &:not(:has(.right-icon, .input-number-arrows)) {
    .input {
      padding-right: var(--lg);
    }
  }

  .counter {
    color: #7779;
    position: absolute;
    inset: auto 4px 2px auto;
    font-size: var(--font-xs);
  }

  input {
    border: none;
    outline: none;
    background: none;
    height: 100%;
    width: 100%;
    min-height: inherit;
    font: inherit;
    color: inherit;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .input-number-arrows {
    display: grid;
    place-items: center;
    line-height: 0;
    border-left: 1px solid #7777;

    > *:first-child {
      padding-bottom: 1px;
      border-bottom: 1px solid #7777;
    }
  }
}

.input-wrapper + .input-wrapper {
  margin-left: var(--sm);
}
