.layout {
  --shadow-1: 0px 1px 2px 0px #0000004d, 0px 1px 3px 1px #00000026;
  --shadow-2: 0px 1px 2px 0px #0000004d, 0px 2px 6px 2px #00000026;
  --shadow-3: 0px 1px 3px 0px #0000004d, 0px 3px 8px 3px #00000026;

  --navigation-size: var(--size-xl);
  --header-size: var(--size-md);

  --xxs: var(--padding-xxs);
  --xs: var(--padding-xs);
  --sm: var(--padding-sm);
  --md: var(--padding-md);
  --lg: var(--padding-lg);
  --xl: var(--padding-xl);
  --xxl: var(--padding-xxl);

  @media screen and (max-width: 600px) {
    .header {
      left: 0 !important;
    }

    .content {
      left: 0 !important;
    }

    &:has(.navigation-bar) {
      .content {
        bottom: var(--navigation-size);
      }
    }
  }
}
