@import './modals.scss';

html {
  touch-action: none;
  font-size: 14px;
}

body {
  font-family:
    'Roboto Flex',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  --background-body: var(--color-50, #fff);
  --background-secondary: var(--color-100, #eee);
  --app-player-color: #eeeeee;

  font-smooth: never;
  -webkit-font-smoothing: none;

  --app-header-color: var(--background-body);
  --app-navbar-color: var(--background-secondary);
  --app-modal-color: var(--background-secondary);

  --app-header-height: 4.125rem;
  --app-player-height: 4.4375rem;
  --app-navbar-size: 5.5rem;

  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-md: 1rem;
  --font-lg: 1.125rem;
  --font-xl: 1.25rem;

  --header-size: 1.5rem;
  --header-weight: 600;

  --xs: 0.25rem;
  --sm: 0.5rem;
  --md: 0.75rem;
  --lg: 1rem;
  --xl: 1.25rem;

  --size-xs: 1.5rem;
  --size-sm: 2rem;
  --size-md: 2.5rem;
  --size-lg: 3rem;
  --size-xl: 3.5rem;

  --icon-xs: 0.75rem;
  --icon-sm: 1rem;
  --icon-md: 1.5rem;
  --icon-lg: 1.75rem;
  --icon-xl: 2rem;

  --album-color: rgb(255, 187, 187);
}

body.dark {
  --background-body: var(--color-50, #111);
  --background-secondary: var(--color-100, #333);
  --app-player-color: var(--color-100, #333);
}

* {
  &::-webkit-scrollbar {
    background: url('/assets/arrow-up.svg'), url('/assets/arrow-down.svg');
    background-repeat: no-repeat;
    background-position:
      center top,
      center bottom;
    background-clip: padding-box;
    background-size: 10px;
    width: 16px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: gray;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    background-clip: padding-box;
    border-radius: 6px;
  }
  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  &::-webkit-scrollbar-button {
    display: block;
    height: 12px;
  }
}

@media screen and (min-width: 600px) {
  html {
    font-size: 16px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus-visible {
  outline: 2px dashed var(--color-600);
}

body {
  overflow: hidden;
  height: 100dvh;

  background-color: var(--background-body);
  font-size: var(--font-md);
  transform: translate(0, 0);
}

button {
  position: relative;
}

.icon-button {
  display: block;
  background: none;
  outline: none;
  color: var(--color-900, inherit);
  border: none;
  -webkit-tap-highlight-color: transparent;

  > .icon-wrapper {
    display: grid;
    place-items: center;
    place-content: center;
    position: relative;
    overflow: hidden;
    width: 48px;
    height: 48px;
    border-radius: 999px;
    transition: background-color 0.2s;
    * {
      pointer-events: none;
    }
  }

  &:disabled .icon-wrapper {
    color: var(--mono-500);
    pointer-events: none;
  }

  &:hover:not(:disabled) .icon-wrapper {
    background-color: var(--color-600-20);
    cursor: pointer;
  }

  &:focus-visible {
    .icon-wrapper {
      outline: 2px dashed var(--color-600);
      background-color: var(--color-600-20);
    }
  }
}

#app,
main {
  &:focus-visible {
    border: none;
    outline: none;
  }
}

.ripple {
  position: absolute;
  border-radius: 999px;
  transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: 0;
  scale: 0.2;
  transform-origin: left top;
  background-color: var(--mono-700-20);
  animation: rippled 0.5s forwards ease-out;
}

@keyframes rippled {
  60% {
    opacity: 1;
    scale: 2;
  }
  100% {
    opacity: 0;
    scale: 2.5;
  }
}
