body {
  font-family:
    'Roboto Flex',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  --background-body: #ffffff;
  --background-secondary: #eeeeee;
  --app-player-color: #eeeeee;

  --app-header-color: var(--background-body);
  --app-modal-color: var(--background-secondary);

  --app-header-height: 66px;
  --app-player-height: 71px;
  --app-navbar-size: 88px;

  --font-xs: 12px;
  --font-sm: 14px;
  --font-md: 16px;
  --font-lg: 18px;
  --font-xl: 20px;

  --header-size: 24px;
  --header-weight: 600;

  --xs: 4px;
  --sm: 8px;
  --md: 12px;
  --lg: 16px;
  --xl: 20px;

  --album-color: rgb(255, 187, 187);
}

body.dark {
  --background-body: #111111;
  --background-secondary: #333333;
  --app-player-color: #202020;
}

* {
  &::-webkit-scrollbar {
    background: url('/assets/arrow-up.svg'), url('/assets/arrow-down.svg');
    background-repeat: no-repeat;
    background-position:
      center top,
      center bottom;
    background-clip: padding-box;
    background-size: 10px;
    width: 16px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: gray;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    background-clip: padding-box;
    border-radius: 6px;
  }
  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  &::-webkit-scrollbar-button {
    display: block;
    height: 12px;
  }
}

@media screen and (max-width: 600px) {
  html {
    --app-header-height: 56px;
    --app-player-height: 64px;
    --app-navbar-size: 90px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus-visible {
  outline: 2px dashed var(--color-600);
}

body {
  overflow: hidden;
  height: 100dvh;

  background-color: var(--background-body);
  font-size: var(--font-md);
  transform: translate(0, 0);
}

button {
  position: relative;
}

.icon-button {
  display: block;
  background: none;
  outline: none;
  color: var(--color-900, inherit);
  border: none;
  -webkit-tap-highlight-color: transparent;

  > .wrapper {
    display: grid;
    place-items: center;
    place-content: center;
    position: relative;
    overflow: hidden;
    width: 48px;
    height: 48px;
    border-radius: 999px;
    transition: background-color 0.2s;
    * {
      pointer-events: none;
    }
  }

  &:hover:not(:disabled) .wrapper {
    background-color: var(--color-600-20);
    cursor: pointer;
  }

  &:focus-visible {
    .wrapper {
      outline: 2px dashed var(--color-600);
      background-color: var(--color-600-20);
    }
  }
}

#app,
main {
  &:focus-visible {
    border: none;
    outline: none;
  }
}

.ripple {
  position: absolute;
  border-radius: 999px;
  transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: 0;
  scale: 0.2;
  transform-origin: center;
  background-color: var(--color-700-30);
  animation: rippled 0.5s forwards;
}

@keyframes rippled {
  60% {
    opacity: 1;
    scale: 1.5;
  }
  100% {
    opacity: 0;
    scale: 2;
  }
}
