html {
  touch-action: none;
}

* {
  &::-webkit-scrollbar {
    background: url('/assets/arrow-up.svg'), url('/assets/arrow-down.svg');
    background-repeat: no-repeat;
    background-position:
      center top,
      center bottom;
    background-clip: padding-box;
    background-size: 10px;
    width: 16px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: gray;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    background-clip: padding-box;
    border-radius: 6px;
  }
  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  &::-webkit-scrollbar-button {
    display: block;
    height: 12px;
  }
}