.modal-wrapper {
  width: inherit;
  .content-wrapper {
    width: inherit;
    .chip-button {
      margin-right: var(--sm);
      padding: calc(var(--sm) / 2) var(--sm);
      background: none;
      border: 1px solid var(--color-800);
      border-radius: calc(var(--sm) / 2);
      font: inherit;
    }

    pre {
      border: 1px solid var(--color-800);
      padding: var(--sm);
      overflow: auto;
      font-size: var(--font-sm);
      border-radius: var(--sm);
      height: 400px;
      &::-webkit-scrollbar {
        width: 4px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: var(--color-800);
      }
    }

    .mode {
      &[data-mode='0'] {
        .chip-button:nth-child(1) {
          color: var(--background-secondary);
          background-color: var(--color-800);
        }
      }
      &[data-mode='1'] {
        .chip-button:nth-child(2) {
          color: var(--background-secondary);
          background-color: var(--color-800);
        }
      }
    }

    &:has([data-mode='0']) {
      .active {
        color: var(--background-secondary);
        background-color: var(--color-800);
      }
    }

    #fileName {
      padding: var(--lg) var(--xl);
      border: 1px solid var(--color-800);
      border-radius: calc(var(--sm) / 2);
      font: inherit;
    }
  }
}
